{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Leaflet css for maps -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>

    <link rel="stylesheet" href="{% static 'main.css' %}">

    {% if title %}
    <title>{{ BRAND_NAME }} - {{ title }}</title>
    {% else %}
    <title>{{ BRAND_NAME }}</title>
    {% endif %}

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{{ BRAND_NAME }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {{ home }}" href="{% url 'account:home' %}">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {{ profile }}" href="{% url 'account:profile' %}">Profile</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {{ profile_update }}" href="{% url 'account:profile-update' %}">Update Profile</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-danger" href="{% url 'account:logout' %}">Logout</a>
                        </li>
                    </ul>

                    <a class="profile-icon" href="#" data-bs-toggle="modal" data-bs-target="#profilePopup">
                        <img src="{% static 'user.svg' %}" alt="">
                    </a>
                {% else %}
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {{ register }}" href="{% url 'account:register' %}">Register</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {{ login }}" href="{% url 'account:login' %}">Login</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>


    {% block content %}
    {% endblock %}

    
    {% if user.is_authenticated %}
        <!-- Modal -->
        <div class="modal fade" id="profilePopup" tabindex="-1" aria-labelledby="profilePopupLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="profilePopupLabel">Profile</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                        <div class="info-box">
                            <p>Name</p>
                            <p>{{ user.name }}</p>
                        </div>

                        <div class="info-box">
                            <p>Phone</p>
                            
                            {% if user.profile.phone %}
                                <p>{{ user.profile.phone }}</p>
                            {% else %}
                                <p>No Phone</p>
                            {% endif %}
                                
                        </div>

                        <div class="info-box">
                            <p>Address</p>
                            {% if user.profile.address %}
                                <p>{{ user.profile.address }}</p>
                            {% else %}
                                <p>No address</p>
                            {% endif %}
                        </div>

                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'account:logout' %}" class="btn btn-danger">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
        

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
    <!-- Leaflet js for maps -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>

    <script src="{% static 'main.js' %}"></script>

</body>

</html>